@import "./normalize.scss", "./text.scss";


.post-preview {
  h3.post-title {
      font-family: "Google Sans";
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 0;
  }

  .post-date {
      font-size: 1rem;
      font-family: "Roboto Mono";
      color: rgba(0,0,0,0.5);
  }

  .summary {
      font-family: "Roboto";
      color: rgba(0,0,0,0.75);
  }

  margin-bottom: 2rem;
}

.post-title {

  .tags {
    > *:not(:last-child) {
      margin-right: 0.25rem;
    }
  }

  > h1 {
    margin-bottom: 0.4rem;
  }

  margin-bottom: 3rem;
}

.footer-rule {
  margin-top: 4rem;
}

.related-container {
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: flex;
  text-align: center;

  > .link {
    flex-shrink: 0;
    padding: 1rem;
    box-sizing: border-box;
    width: 50%;
  }
}

.footer-about {
  text-align: center;
  font-size: 1rem;
  padding: 0 1rem;
}

img {
  max-width: 100%;
  margin: auto;
  border: solid rgba(0, 0, 0, 0.04);
}

.taxonomy-name {
  text-transform: capitalize;
}

.taxonomy-container {
  display: flex;
  flex-wrap: wrap;

  > .term:not(:last-child) {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
  }
}

.team {
  display: grid;
  grid-template-columns: 2;
  justify-content: space-evenly;
}

.team > h1 {
  grid-column: 1 / span 2;
  justify-self: center;
}

.team > .team-text {
  grid-column: 2;
  text-align: center;
  margin: auto;
  height: 200px;
}

.team > .member {
  margin: auto;
  justify-items: center;
}

.team > img {
  grid-column: 1;
  width: 200px;
  height: 200px;
  border: none;
}

@media screen and (max-width: 568px) {
  .team {
    grid-template-columns: 1;
  }
  .team > img {
    grid-column: 1 / span 2;
  }
  .team > .team-text {
    grid-column: 1 / span 2;
  }
}