{% macro post_preview(post) %}
  <div class="post-preview">
    <div class="post-date">
      {{ post.date| date(format="%B %d, %Y") }}     
    </div>
  <h3 class="post-title">{{ post.title }}</h3>
    <div class="summary">
      {% if post.description -%}
        {{ post.description }}
      {% else %}
        {{ post.content | safe | striptags | truncate(length=300) }}
      {%- endif %}
      <a href="{{ post.permalink }}"><small>READ MORE</small></a>
    </div>
  </div>
{% endmacro input %}
