{% extends "base.html" %}

{% import "post-preview.html" as post_macros %}

{% block posthead %} 
  {% for post in section.pages %}
    <link rel="prerender" href="{{ post.permalink }}" />
  {% endfor %}
{% endblock posthead %}

{% block content %}
  <div class="team">
    {{ section.content | safe }}
    {% for member in config.extra.team %}
      <!-- <div class="member"> -->
      <img alt="{{ member.name }}" src="{{ resize_image(path=member.img, width=175, height=175, op="fill") }}"/>
      <div class="team-text">
          <p class="team-pos">{{ member.pos }}</p>
          <p class="member-name">{{ member.name }}</p>
          <p>{{ member.description }}</p>
      </div>
      <!-- </div> -->
    {% endfor %}
  </div>

  {% for post in section.pages %}
    {{ post_macros::post_preview(post=post) }}
  {% endfor %}
{% endblock content %}
